<section class="flex h-screen flex-row bg-white p-30">
  <article class="w-1/2 px-12">
    <div class="flex flex-row">
      <h1
        class="font-thunder inline-flex text-[180px] leading-40 tracking-wider text-purple-600"
      >
        CO
      </h1>

      <div class="relative">
        <h1
          class="font-thunder inline-flex text-[180px] leading-40 tracking-wider text-purple-600"
        >
          N
        </h1>
        <img
          class="absolute top-[-10%] h-full w-full scale-[1.3]"
          src="assets/images/contact-n.svg"
          alt=""
        />
      </div>

      <h1
        class="font-thunder inline-flex text-[180px] leading-40 font-bold tracking-wider text-purple-600"
      >
        T
      </h1>
      <h1
        class="border-text font-thunder text-[180px] leading-40 font-bold tracking-wider"
      >
        ACTO
      </h1>
    </div>

    <p class="font-basereg mt-6 pr-5 text-3xl text-black">
      Tu opinión es muy importante para nosotros. No solo estamos aquí para
      resolver dudas, sino también para recibir tus ideas y sugerencias para
      mejorar la plataforma.
    </p>
  </article>

  <article class="w-1/2 pr-12 pl-12">
    <form [formGroup]="form" (submit)="add()" class="flex flex-col space-y-4">
      <input
        type="text"
        placeholder="Correo electrónico *"
        class="font-basereg border-b-2 border-black p-3 outline-none placeholder:text-gray-600"
      />
      <input
        type="text"
        placeholder="Asunto *"
        class="font-basereg border-b-2 border-black p-3 outline-none placeholder:text-gray-600"
      />
      <textarea
        placeholder="Mensaje *"
        class="font-basereg h-32 border-b-2 border-black p-3 outline-none placeholder:text-gray-600"
      ></textarea>

      <label class="font-basereg flex items-center space-x-2">
        <input type="checkbox" class="font-basereg h-5 w-5 cursor-pointer" />
        <span>Acepto los </span>
        <button
          type="button"
          class="font-basereg cursor-pointer text-black underline underline-offset-2"
        >
          términos y condiciones
        </button>
      </label>
      <button
        class="relative h-12 w-full overflow-hidden border border-indigo-600 text-indigo-600 shadow-2xl transition-all duration-200 before:absolute before:top-0 before:right-0 before:bottom-0 before:left-0 before:m-auto before:h-0 before:w-0 before:bg-indigo-600 before:duration-300 before:ease-out hover:text-white hover:shadow-indigo-600 hover:before:h-auto hover:before:w-full hover:before:opacity-80"
      >
        <span class="relative z-10">ENVIAR</span>
      </button>
    </form>
  </article>
</section>

<style>
  .border-text {
    color: white;
    -webkit-text-stroke: 4px #7d2ae8;
  }
</style>
