<section class="flex flex-row p-24">
  <article>
    <h1 class="flex flex-row text-9xl font-bold">
      CO
      <div class="flex flex-row"><span>N</span><img src="" alt="" /></div>
      <span>T</span>
      <span class="text-white drop-shadow-[5px_5px_0px_rgba(0,0,0,0.99)]"
        >ACTO</span
      >
    </h1>
    <p>
      Tu opinión es muy importante para nosotros. No solo estamos aquí para
      resolver dudas, sino también para recibir tus ideas y sugerencias para
      mejorar la plataforma.
    </p>
  </article>
  <article>
    <form action="">
      <label for="">
        <input type="text" name="" id="" placeholder="Correo electrónico*" />
      </label>
      <label for="">
        <input type="text" name="" id="" placeholder="Asunto*" />
      </label>
      <label for="">
        <input type="text-area" name="" id="" placeholder="Mensaje*" />
      </label>
      <label for="">
        <input type="checkbox" name="" id="" /> Acepto los
        <button>terminos y condiciones</button>
      </label>

      <input type="submit" />
    </form>
  </article>
</section>
