<section class="w-screen h-[108vh] px-5 py-5 flex flex-col relative snap-center font-basereg bg-[#EEEEEE]">
    <div class="absolute -top-10 -left-30">
        <img src="/assets/Images/ellipse.svg" class="w-auto blur-[100px] h-auto"/>
    </div>
    <div class="flex z-10 w-full flex-grow flex-col px-9 pt-7 pb-12 border-[0.5px] border-black/20 rounded-[4.4rem]">
        <div>
            <header class="flex justify-between">
                <div class="flex items-center justify-center">
                    <a href="">
                        <img class="outline-none cursor-none" src="/assets/Images/logo.svg" alt="Logo">
                    </a>
                </div>
                <div class="flex gap-[4rem]">
                    <nav class="bg-black text-white/50 w-[44.875rem] h-[4.188rem] rounded-full flex justify-center items-center z-50">
                        <ul class="flex gap-3 text-base select-none">
                            <li class="cursor-pointer rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border bg-white text-black"><span>Inicio</span></li>
                            <li class="cursor-pointer hover:border-white rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50 overflow-hidden"><span #menuText>Aplicación</span></li>
                            <li class="cursor-pointer hover:border-white rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50 overflow-hidden"><span #menuText>Novedades</span></li>
                            <li class="cursor-pointer hover:border-white rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50 overflow-hidden"><span #menuText>Nosotros</span></li>
                            <li class="cursor-pointer hover:border-white rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50 overflow-hidden"><span #menuText>Contacto</span></li>
                        </ul>
                    </nav>  
                    <button (click)="openModalAuth()" class="flex justify-center items-center h-[4.188rem] w-[16.625rem] gap-3 border border-black rounded-full cursor-pointer">
                        <span>Iniciar sesión</span>
                        <span>/</span>
                        <span>Registrar</span>
                    </button>
                </div>
            </header>
        </div>
        <main class="relative flex-grow">
            <div class="absolute w-[70rem] h-min top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 select-none">
                <img src="/assets/Images/swanest.svg">
                <img class="h-98 absolute -top-5 -translate-y-1/2 -translate-x-1/3 left-70" src="/assets/Images/swan-pair-sticker.svg">
            </div>
            <button class="absolute right-0 bottom-0 w-24 h-24 rounded-full border cursor-pointer border-[#707070] flex items-center justify-center">
                <svg width="23" height="29" viewBox="0 0 33 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 38.5V0M16.5 38.5C19.3434 30.4911 21.7433 26.591 32 24M16.5 38.5C13.0193 28.1373 9.07357 25.951 1 24" stroke="black" stroke-width="1.5" stroke-linejoin="bevel"/>
                </svg>    
            </button>
            <div class="absolute bottom-0 max-w-[33%] select-none">
                <p class="text-[2.05rem] break-words leading-tight">La web donde encontrarás tu compañero de vuelo.⛅😍</p>     
            </div>
        </main>
        <div class="w-full pt-5 pb-2 overflow-hidden select-none whitespace-nowrap z-2">
            <div class="flex">
                <ul class="flex items-center whitespace-nowrap animate-infinite-scroll [&_li]:mx-8 [&_span]:text-black/20 [&_span]:text-[3rem]">
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a la web</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                </ul>
                <ul class="flex items-center whitespace-nowrap animate-infinite-scroll [&_li]:mx-8 [&_span]:font-medium [&_span]:text-black/20 [&_span]:text-[2.8rem]">
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                    <li class="flex items-center gap-[1.6rem]">
                        <span>Bienvenido a swanest</span>
                        <img src="/assets/Images/star.svg" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>