<div class="w-screen h-screen snap-center font-basereg relative bg-[#f1f1f1]">
    <div class="px-10.5 pt-8">
        <header class="flex justify-between">
            <div class="flex items-center justify-center">
                <a href="">
                    <img src="/assets/Images/Logo.svg" alt="Logo">
                </a>
            </div>
            <div class="flex gap-[4rem]">
                <nav class="bg-black text-white/50 w-[44.875rem] h-[4.188rem] rounded-full flex justify-center items-center cursor-pointer">
                    <ul class="flex gap-3 text-base">
                        <li class="rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border bg-white text-black">Inicio</li>
                        <li class="rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50">Aplicación</li>
                        <li class="rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50">Novedades</li>
                        <li class="rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50">Nosotros</li>
                        <li class="rounded-full w-[8.125rem] p-[0.313rem] h-[2.938rem] flex justify-center items-center border border-white/50">Contacto</li>
                    </ul>
                </nav>  
                <button class="flex justify-center items-center h-[4.188rem] w-[16.625rem] gap-3 border border-black rounded-full cursor-pointer">
                    <span>Iniciar sesión</span>
                    <span>/</span>
                    <span>Registrar</span>
                </button>
            </div>
        </header>
    </div>
    <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
        <img src="/assets/Images/Swanest.svg" alt="">
    </div>
    <div class="absolute bottom-0 w-full overflow-hidden">
        <div class="flex animate-[var(--animation-slide)]">
          <div class="flex items-center text-[2.8rem] gap-6 py-4 whitespace-nowrap text-black/45 font-medium">
                <span>Bienvenido a swanest</span> 
                <img class="fill-yellow-50" src="/assets/Images/Star.svg"> 
                <span>Bienvenido a swanest</span> 
                <img src="/assets/Images/Hola.svg"> 
                <span>Bienvenido a swanest</span> 
                <img src="/assets/Images/Hola.svg">
          </div>
        </div>
    </div>
</div>

