<main class="bg-background-main flex h-screen w-screen gap-10 p-5">
  <header
    class="flex w-96 flex-col justify-between rounded-[50px] bg-white [&>*]:p-8"
  >
    <div class="flex flex-col gap-7">
      <div class="flex w-full justify-between">
        <div class="flex gap-4 align-middle">
          <img src="assets/images/app/logo-swanest-purple.svg" alt="" />
          <h2 class="font-family-semibold text-primary-main text-xl">
            Swanest
          </h2>
        </div>
        <button class="cursor-pointer">
          <img src="assets/images/app/icons/arrows-icon.svg" alt="" />
        </button>
      </div>

      <article class="flex content-center items-center gap-5 align-middle">
        <img
          class="w-14 rounded-2xl object-contain object-center"
          [src]="user?.image?.image_1"
          alt=""
        />
        <div class="flex flex-col">
          <h2 class="font-family-light text-lg">Buenos días 👋</h2>
          <h2 class="font-family-semibold text-2xl">
            {{ user?.profile?.first_name + " " + user?.profile?.last_name }}
          </h2>
        </div>
      </article>

      <article>
        <h2 class="font-family-regular pb-5 opacity-20">MENÚ</h2>
        <button
          (click)="display_component = 'match-section'"
          class="flex w-full cursor-pointer gap-5 rounded-2xl p-3"
          [class]="{
            'bg-primary-main': display_component === 'match-section',
          }"
        >
          <img
            class="w-7"
            src="assets/images/app/icons/match-icon.svg"
            alt=""
          />
          <p
            class="font-family-regular text-lg"
            [class]="{
              'text-white': display_component == 'match-section',
              'text-black': display_component != 'match-section',
            }"
          >
            Match
          </p>
          <div></div>
        </button>
        <button
          (click)="display_component = 'chat-section'"
          class="flex w-full cursor-pointer gap-5 rounded-2xl p-3"
          [class]="{
            'bg-primary-main': display_component === 'chat-section',
          }"
        >
          <img
            class="w-7"
            src="assets/images/app/icons/messages-icon.svg"
            alt=""
          />
          <p
            class="font-family-regular text-lg"
            [class]="{
              'text-white': display_component == 'chat-section',
              'text-black': display_component != 'chat-section',
            }"
          >
            Mensajes
          </p>
          <div></div>
        </button>
      </article>
    </div>

    <div class="flex flex-col gap-7">
      <article>
        <h2 class="font-family-regular pb-5 opacity-20">AJUSTES</h2>
        <button
          (click)="display_component = 'update-section'"
          class="flex w-full gap-5 rounded-2xl p-3"
          [class]="{
            'bg-primary-main': display_component === 'update-section',
          }"
        >
          <img
            class="w-6"
            src="assets/images/app/icons/update-profile-icon.svg"
            alt=""
          />
          <p
            class="font-family-regular text-w"
            [class]="{
              'text-white': display_component == 'update-section',
              'text-black': display_component != 'update-section',
            }"
          >
            Editar perfil
          </p>
        </button>
      </article>

      <article>
        <button class="h-10 w-1/2 rounded-2xl bg-slate-300 p-2">
          <div class="grid h-7 w-1/4 place-content-center rounded-2xl bg-white">
            <img src="assets/images/app/icons/sun-icon.svg" alt="" />
          </div>
        </button>
      </article>
      <article>
        <button class="flex w-full gap-5 rounded-2xl bg-slate-300 p-3">
          <img
            class="w-5"
            src="assets/images/app/icons/logout-icon.svg"
            alt=""
          />
          <p class="font-family-regular text-w">Cerrar sesión</p>
        </button>
      </article>
    </div>
  </header>
  <section class="h-full w-full">
    @switch (display_component) {
      @case ("match-section") {
        <app-match-section></app-match-section>
      }
      @case ("chat-section") {
        <app-chat-section></app-chat-section>
      }
      @case ("update-section") {
        <app-update-user></app-update-user>
      }
    }
  </section>
</main>
