<div
  class="pointer-events-none fixed inset-4 z-50 rounded-4xl border-4 border-white mix-blend-exclusion"
></div>
<section
  class="relative h-screen snap-y snap-mandatory overflow-y-auto [&>article]:overflow-hidden"
>
  <article class="h-screen snap-start">
    <app-landing></app-landing>
  </article>
  <article class="h-screen snap-start">
    <app-application></app-application>
  </article>
  <article class="h-screen snap-start">
    <app-news></app-news>
  </article>
  <article class="h-screen snap-start">
    <app-contact></app-contact>
  </article>
</section>
