<section
  class="flex h-screen flex-col bg-[#010101] px-4 lg:flex-row lg:items-center lg:px-22"
>
  <div class="mt-8 flex items-center lg:h-full">
    <h1
      class="font-family-display text-7xl leading-32 tracking-[5px] text-[#7948FF] select-none [text-orientation:mixed] [writing-mode:vertical-rl] lg:mt-0 lg:mr-20 lg:text-[16rem] lg:leading-50"
    >
      SWANEST
    </h1>

    <div class="ml-4 w-[70%] self-center lg:hidden">
      <h1 class="mb-4 text-3xl text-white">
        <span class="mr-2 text-lg text-white/50">01</span> ENTRA
      </h1>
      <p class="font-family-light text-lg text-white">
        Abre la puerta a nuevas posibilidades. Aquí, cada coincidencia puede ser
        el inicio de algo increíble.
      </p>
    </div>
  </div>

  <div
    class="mt-10 mr-6 ml-6 flex flex-col space-y-10 lg:mt-0 lg:ml-16 lg:flex-1 lg:space-y-16"
  >
    <div class="hidden lg:block">
      <h1 class="mb-4 text-6xl text-white">
        <span class="mr-2 text-2xl text-white/50">01</span> ENTRA
      </h1>
      <p class="font-family-light text-2xl text-white">
        Abre la puerta a nuevas posibilidades. Aquí, cada coincidencia puede ser
        el inicio de algo increíble.
      </p>
    </div>

    <div>
      <h1 class="mb-4 text-3xl text-white lg:text-6xl">
        <span class="mr-2 text-lg text-white/50 lg:text-2xl">02</span> ENAMÓRATE
      </h1>
      <p class="font-family-light text-lg text-white lg:text-2xl">
        Los cisnes son animales que, una vez encuentran a su pareja, permanecen
        juntos de por vida. En nuestra app, creemos en conexiones genuinas, esas
        que empiezan con un clic pero pueden durar para siempre.
      </p>
    </div>

    <div>
      <h1 class="mb-4 text-3xl text-white lg:text-6xl">
        <span class="mr-2 text-lg text-white/50 lg:text-2xl">03</span>
        ELIMÍNANOS
      </h1>
      <p class="font-family-light text-lg text-white lg:text-2xl">
        Encontrar a tu persona especial hará que nos elimines sin pensarlo. Y si
        lo logras, habremos cumplido nuestro propósito.
      </p>
    </div>
  </div>
</section>
