<section class="flex w-screen h-screen snap-center">
  <aside class="w-100 flex items-center justify-center">
    <h1
      class="text-[325px] font-cesare text-swapink-500 transform rotate-90 tracking-widest"
    >
      SWANEST
    </h1>
  </aside>
  <article class="flex-1 flex flex-col justify-start p-8">
    <p class="font-basereg text-[45px]">
      Swanest es la aplicación que te hará encontrar a la persona con quien
      volar. No lo dudes más y alza el vuelo a la aventura más bonita de tú
      vida.
    </p>
    <p class="mt-4 font-basereg text-[45px]">
      Al igual que los cisnes, las personas buscamos con quien formar nuestro
      nido y vivir experiencias juntos.
    </p>
  </article>
</section>
