<section class="flex h-screen bg-[#010101] lg:gap-20 lg:px-22">
  <h1
    class="font-family-display mt-10 flex h-1/3 justify-start text-7xl leading-32 tracking-[5px] text-[#7948FF] select-none [text-orientation:mixed] [writing-mode:vertical-rl] lg:mt-0 lg:h-screen lg:justify-center lg:text-[16rem] lg:leading-50"
  >
    SWANEST
  </h1>
  <article
    class="flex h-full w-full flex-col items-center justify-center gap-14 p-8 text-white select-none"
  >
    <div class="w-full mb-10 lg:mb-0">
      <h1 class="mb-7 flex gap-4 align-top text-3xl lg:text-6xl">
        <span class="pt-2 text-sm text-white/50 lg:text-2xl">01</span>ENTRA
      </h1>
      <p class="font-family-light text-sm lg:text-2xl">
        Abre la puerta a nuevas posibilidades. Aquí, cada coincidencia puede ser
        el inicio de algo increíble.
      </p>
    </div>
    <div class="w-full items-start ">
      <h1 class="mb-7 flex gap-4 align-top text-3xl lg:text-6xl">
        <span class="pt-2 text-sm text-white/50 lg:text-2xl">02</span>ENAMÓRATE
      </h1>
      <p class="font-family-light text-sm lg:text-2xl">
        Los cisnes son animales que, una vez encuentran a su pareja, permanecen
        juntos de por vida. En nuestra app, creemos en conexiones genuinas, esas
        que empiezan con un clic pero pueden durar para siempre.
      </p>
    </div>
    <div class="w-full">
      <h1 class="mb-7 flex gap-4 align-top text-3xl lg:text-6xl">
        <span class="pt-2 text-sm text-white/50 lg:text-2xl">03</span>ELIMÍNANOS
      </h1>
      <p class="font-family-light text-sm lg:text-2xl">
        Encontrar a tu persona especial hará que nos elimines sin pensarlo. Y si
        lo logras, habremos cumplido nuestro propósito.
      </p>
    </div>
  </article>
</section>
