<div class="fixed inset-0 flex items-center justify-center bg-black/50">
  <div class="fixed inset-0 flex items-center justify-center bg-black/50">
    <div
      class="relative flex h-145 w-[57.5rem] items-start justify-between overflow-hidden rounded-[4.625rem] bg-white p-3"
      class="relative flex h-145 w-[57.5rem] items-start justify-between overflow-hidden rounded-[4.625rem] bg-white p-3"
    >
      <div
        class="absolute inset-3 z-3 flex w-109 flex-col justify-between rounded-[4rem] bg-[#7948FF] px-7 pt-10 pb-6 transition-transform duration-600 ease-in-out"
        [style.transform]="
          isRightSide ? 'translateX(calc(100% + 1.5rem))' : 'translateX(0)'
        "
      >
        <div>
          <h1
            class="font-thunder relative z-10 [box-decoration-break:clone] text-[7.375rem] leading-27 text-white"
          >
            {{ isRightSide ? "Bienvenido" : "Hola" }}
          </h1>
        </div>
        <div class="flex">
          <button
            class="font-baselight rounded-full bg-black px-6 py-4.5 tracking-[0.5px] text-white"
            (click)="toggleSlide()"
          >
            {{ isRightSide ? "Iniciar sesión" : "Registrarse" }}
          </button>
        </div>
      </div>
      <div class="relative h-full w-114 p-10">
        <div class="relative h-full w-114 p-10">
          <app-register-user></app-register-user>
          <div
            (click)="close()"
            class="absolute top-4 right-4 z-10 flex h-13 w-13 cursor-pointer items-center justify-center rounded-full border-2 border-black"
          >
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 1L16.558 16.5547" stroke="black" />
              <path d="M16.5586 1L1.00061 16.5547" stroke="black" />
            </svg>
          </div>
        </div>
        <div class="relative h-full w-114 p-10">
          <app-login-user></app-login-user>
        </div>
        <br />
        <div class="relative h-full w-114 p-10">
          <div
            (click)="close()"
            class="absolute top-4 right-4 z-10 flex h-13 w-13 cursor-pointer items-center justify-center rounded-full border-2 border-black"
          >
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 1L16.558 16.5547" stroke="black" />
              <path d="M16.5586 1L1.00061 16.5547" stroke="black" />
            </svg>
          </div>
          <app-login-user></app-login-user>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div
(click)="close()"
class="absolute top-4 right-4 z-10 flex h-13 w-13 cursor-pointer items-center justify-center rounded-full border-2 border-black"
>
<svg
  width="17"
  height="17"
  viewBox="0 0 17 17"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M1 1L16.558 16.5547" stroke="black" />
  <path d="M16.5586 1L1.00061 16.5547" stroke="black" />
</svg>
</div> -->
