<section class="h-screen snap-center bg-[#191919] p-5">
  <div class="h-full">
    <h1
      class="font-family-display pl-5 text-7xl leading-tight tracking-wider text-white md:pl-10 md:text-[14rem]"
    >
      NOVEDADES
    </h1>
    <div
      class="grid h-[100vw] grid-cols-1 grid-rows-2 gap-95 px-5 py-5 md:h-auto md:grid-cols-6 md:grid-rows-5 md:gap-10 md:px-20 [&>div]:drop-shadow-[5px_5px_5px_rgba(255,255,255,0.5)]"
    >
      <div class="h-min md:col-span-2 md:row-span-5">
        <article
          class="flex w-full flex-col overflow-hidden rounded-4xl bg-gray-950 md:h-full"
        >
          <div
            class="flex flex-col justify-between gap-2 p-8 md:h-full md:gap-10"
          >
            <div class="flex flex-col gap-0 md:gap-2">
              <h2
                class="font-family-semibold mb-4 text-xl text-white md:text-4xl"
              >
                Llegan las verificaciones a Swanest
              </h2>
              <p class="font-family-regular text-sm text-white md:text-2xl">
                Para ofrecer una experiencia más segura y confiable, Swanest
                introduce la verificación de cuentas. A partir de ahora, podrás
                verificar tu perfil y asegurarte de conectar solo con personas
                auténticas. ¡Nos importa tu seguridad y queremos que disfrutes
                de una experiencia más confiable en nuestra app!
              </p>
            </div>
            <span class="text-xl text-red-600">15 Marzo 2025</span>
          </div>
        </article>
      </div>
      <div class="md:col-span-2 md:col-start-3 md:row-span-5">
        <article
          class="flex w-full rounded-4xl bg-gray-950 p-8 shadow-xl md:h-full"
        >
          <div class="flex flex-col justify-between">
            <div>
              <h2
                class="font-family-semibold mb-4 text-xl text-white md:text-4xl"
              >
                Chat de texto
              </h2>
              <p class="font-family-regular text-sm text-white md:text-2xl">
                💬 Ahora puedes chatear con tus matchs de forma rápida y
                sencilla. Rompe el hielo, conoce mejor a esa persona especial y
                deja que la conversación fluya. ¡Empieza a hablar ahora! ❤️✨ 💬
                ¡El chat entre matchs ya está aquí! Conéctate, rompe el hielo y
                deja que la conversación fluya. Descubre más sobre tu match y
                crea momentos especiales. ❤️✨
              </p>
            </div>
            <span class="text-xl text-red-500">22 Febrero 2025</span>
          </div>
        </article>
      </div>
      <div class="hidden md:col-span-2 md:col-start-5 md:row-span-3 md:block">
        <article
          class="flex h-full w-full rounded-2xl bg-gray-950 p-6 shadow-xl"
        >
          <div class="flex flex-col justify-between">
            <div>
              <h2 class="font-family-semibold mb-2 text-4xl text-white">
                Envia regalos 🎁
              </h2>
              <p class="font-family-regular text-2xl text-white">
                Ahora puedes enviar regalos y sorprender a esa persona especial.
                Expresa tu interés de una manera original y haz que cada
                conexión sea única. <br />✨ ¡Descúbrelo ahora! ✨
              </p>
            </div>
            <span class="text-lg text-red-500">10 Enero 2025</span>
          </div>
        </article>
      </div>
      <div
        class="hidden md:col-span-2 md:col-start-5 md:row-span-2 md:row-start-4 md:block"
      >
        <a href="#">
          <article
            class="flex h-full w-full rounded-2xl bg-gray-950 p-5 shadow-xl"
          >
            <div class="mt-5 flex w-full place-content-center items-center">
              <h2
                class="font-family-semibold mb-2 rotate-2 animate-pulse text-4xl text-white"
              >
                💫 INICIA TU AVENTURA 💫
              </h2>
            </div>
          </article>
        </a>
      </div>
    </div>
  </div>
</section>
